/* src/components/Banner.css */
.banner {
    background-image: url('logo512.png'); /* Абсолютный путь к файлу в папке public */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.banner h1 {
    font-size: 2.5em;
}

.banner p {
    font-size: 1.2em;
}
