/* src/components/Gallery.css */
.gallery {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.gallery p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
